/*
 * Copyright 2022 Dan Lyu.
 */

.profile__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    align-self: center;
}

.profile__info {
    font-weight: 600;
    color: var(--theme-dark-gray);
    width: 100%;
}

.profile__follow-container {
    display: flex;
    justify-content: space-between;
}

.profile__dialog__button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--theme-dark-red);
}

.profile__input {
    width: 100%;
}

.profile__action-button {
    width: 100%;
}

.profile__radio {
    width: 100%;
}

.profile__upload-input {
    border: 2px solid var(--theme-gray);
    border-radius: 4px;
    padding: 10px 17px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__upload-input span {
    color: var(--theme-dark-gray);
    margin-right: 10px;
    font-weight: 700;
}