/*
 * Copyright 2022 Dan Lyu.
 */

.profile__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    align-self: center;
}

.profile__info{
    font-weight: 600;
    color: var(--theme-dark-gray);
    width: 100%;
}

.profile__follow-container{
    display: flex;
    justify-content: space-between;
}

.profile__dialog__button {
    color: var(--theme-dark-red);
}

.profile__input {
    width: 100%;
}