.dialog {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 40%);
    position: absolute;
    z-index: 1250;
}

.modal {
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1300;
    display: flex;
}

.modal--s {
    width: 52vw;
    height: 62vh;
}

.modal--m {
    width: 69vw;
    height: 73vh;
}

.modal--l {
    width: 92vw;
    height: 92vh;
}

.modal--top-bar {
    display: flex;
}

.modal--content {
    margin-top: 30px;
    display: flex;
}

.modal--bottom-bar {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

.modal--container {
    padding-left: 41px;
    padding-right: 41px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal--title {
    margin-top: 35px;
    font-weight: bolder;
    font-size: 37px;
}

.modal--close {
    margin-top: 24px;
    margin-left: auto;
}

@media (max-width: 900px) {
    .modal--s {
        width: 69vw;
        height: 73vh;
    }

    .modal--m {
        width: 90vw;
        height: 90vh;
    }

    .modal--l {
        width: 96vw;
        height: 96vh;
    }
}