.dialog {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 40%);
    position: absolute;
    z-index: 1250;
}

.modal{
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1300;
}

.modal--s{
    width: 42vw;
    height: 62vh;
}

.modal--m{
    width: 63vw;
    height: 73vh;
}

.modal--l{
    width: 92vw;
    height: 92vh;
}

.modal--top-bar{
    display: flex;
    padding-left: 53px;
    padding-right: 10px;
    margin-top: 20px;
}

.modal--title{
    font-size: 48px;
}

.close-button{
    margin-left: auto;

}