hr.grid--divider {
    border: 0;
    border-top: 2px solid #A8A8A8;
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 0;
    border-top: 2px solid #A8A8A8;
    font-weight: 600;
    color: var(--dgray-text)
}

th {
    font-weight: 700;
    color: var(--dgray-text)
}

th, td {
    padding: 15px 20px;
    font-size: 17px;
    min-width: 10px;
}

.grid--clickable{
    cursor: pointer;
}