.button {
    text-align: center;
    align-self: center;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 4px;
}

.focus--shadow {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.15), 0 17px 50px 0 rgba(0, 0, 0, 0.12);
}

input{
    width: 100%;
    padding: 16px 20px 15px 20px;
    margin: 8px 0;
    outline: none;
    display: inline-block;
    border: 2px solid var(--dgray-text);
    border-radius: 8px;
    box-sizing: border-box;
}


input[type=text]:focus {
    border: 2px solid var(--theme-dark-purple);
}

input[type=text], input::placeholder{
    font-size: 15px
}