.side-bar {
    height: 100%;
    width: 250px;
    background-color: #EB7777;
    display: flex;
    flex-direction: column;
}

.side-bar button {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Comfortaa', serif;
    color: white;
    background-color: var(--theme-1);
    display: block;
    width: 250px;
    margin-bottom: 7px;
    border: none;
    text-align: left;
    cursor: pointer;
    min-height: 42px;
}

.side-bar > button:hover, .side-bar > .selected {
    background-color: var(--theme-dark-gray);
}

.side-bar img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    padding: 50px;
}

.top-bar {
    display: none;
    padding: 15px 25px;
    background-color: white;
}



@media (max-width: 900px) {
    .side-bar {
        position: fixed;
    }
    .closed{
        display: none;
    }
    .opened {
        display: unset;
    }
    .top-bar{
        display: unset;
    }
}