.side-bar {
    height: 100%;
    width: 250px;
    background-color: #EB7777;
    display: flex;
    flex-direction: column;
    left: 0;
    transition: 1s;
}

.side-bar button {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Comfortaa', serif;
    color: white;
    background-color: var(--theme-1);
    display: block;
    width: 250px;
    margin-bottom: 7px;
    border: none;
    text-align: left;
    cursor: pointer;
    min-height: 42px;
}

.side-bar > button:hover, .side-bar > .selected {
    background-color: var(--theme-dark-gray);
}

.side-bar img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    padding: 50px;
}

.top-bar {
    display: none;
    padding: 15px 25px;
    background-color: white;
}



@media (max-width: 900px) {
    .side-bar-overlay {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 40%);
        position: fixed;
        top: 0;
        left: 0;
    }
    .side-bar {
        top: 0;
        left: 0;
        position: fixed;
    }
    .closed{
        left: -500px;
    }
    .top-bar{
        display: unset;
    }
}