.side-bar {
    height: 100%;
    background-color: var(--theme-1);
    display: flex;
    flex-direction: column;
    left: 0;
    transition: 1s;
}

.side-bar-button {
    padding: 11px 12px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Comfortaa', serif;
    color: white;
    margin-bottom: 2px;
    border: none;
    min-height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    transition: 0.1s;
}

.side-bar-img-group img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.side-bar-button:hover, .side-bar-button-selected {
    background-color: var(--theme-dark-gray);
}

.side-bar-img-group {
    box-sizing: border-box;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 25px 45px;
}

.side-bar-bottom-group {
    align-self: end;
    margin-top: auto;
    width: 100%;
}

.side-bar-top-group{
    overflow: scroll;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: none;
    background-color: white;
}

.top-bar-nav-icon {
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 900px) {
    .side-bar-overlay {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 40%);
        position: fixed;
        top: 0;
        left: 0;
    }
    .side-bar {
        top: 0;
        left: 0;
        position: fixed;
    }
    .closed{
        left: -500px;
    }
    .top-bar{
        display: unset;
    }
}