.snackbar{
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
    box-sizing: border-box;
    padding: 0 20px;
    position: fixed;
    height: 49px;
    width: 300px;
    background-color: var(--dgray-text);
    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.15), 0 17px 50px 0 rgba(0, 0, 0, 0.12);
}

.snackbar--bottom-left{
    left: 24px;
    bottom: 24px;
}

.snackbar--bottom-right{
    right: 24px;
    bottom: 24px;
}

.snackbar--top-left{
    left: 24px;
    top: 24px;
}

.snackbar--top-right{
    right: 24px;
    top: 24px;
}

.snackbar--top-middle{
    left: 50%;
    transform: translateX(-50%);
    top: 24px;
}

.snackbar--bottom-middle{
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;
}

.snackbar--close{
    color: white;
    margin-left: auto;
}