/*
 * Copyright 2022 Dan Lyu.
 */

hr.grid--divider {
    border: 0;
    border-top: 2px solid #A8A8A8;
    display: block;
}

table {
    overflow:auto;
    display:block;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td {
    border: 0;
    border-top: 2px solid #A8A8A8;
    font-weight: 600;
    color: var(--dgray-text)
}

th {
    font-weight: 700;
    color: var(--dgray-text)
}

th, td {
    padding: 15px 20px;
    font-size: 18px;
    min-width: 10px;
}

.grid--clickable{
    color: var(--theme-1);
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

.grid--avatar-container{
    padding: 8px 20px;
}

.grid--avatar{
    width: 40px;
    height: auto;
    border-radius: 50%;
}

grid-search-bar{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

@media (max-width: 900px) {
}