@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --dgray-text: #3A3A3A;
  --theme-1: #EB7777;
  --theme-2: #8688BC;
  --theme-red: #FC5185;
  --theme-dark-red: #FC5185;
  --theme-gray: #979797;
  --theme-dark-gray: #777777;
  --theme-purple: #8688BC;
  --theme-dark-purple: #7677ad;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-image: linear-gradient(to bottom right, rgba(249, 229, 232, 0.3), rgba(151, 225, 212, 0.3), rgba(98, 132, 255, 0.3), rgba(255, 114, 182, 0.3));
  font-family: 'Comfortaa', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-icon {
  cursor: pointer;
  color: var(--dgray-text)
}

spaced-horizontal-preferred{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 900px) {
  spaced-horizontal-preferred{
    flex-direction: column;
    align-items: center;
  }
}