/*
 * Copyright 2022 Dan Lyu.
 */

dialog-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 40%);
    position: absolute;
    z-index: 1250;
    max-height:100%;
    max-width:100%;
}

.modal {
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1300;
    padding: 0 33px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.modal--s {
    width: 52%;
    height: 62%;
}

.modal--m {
    width: 69%;
    height: 73%;
}

.modal--l {
    width: 92%;
    height: 92%;
}

modal-header {
    display: flex;
}

modal-content {
    margin-top: 30px;
    display: flex;
    overflow: auto;
}

modal-footer {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
}

.modal--title {
    margin-top: 35px;
    font-weight: bolder;
    font-size: 37px;
}

.modal--close {
    margin-top: 24px;
    margin-left: auto;
}

@media (max-width: 900px) {
    .modal {
        padding: 0 26px;
    }

    .modal--s {
        width: 69%;
        height: 73%;
    }

    .modal--m {
        width: 90%;
        height: 90%;
    }

    .modal--l {
        width: 96%;
        height: 96%;
    }
}