.login{
  position: fixed;
  width: auto;
}
.WebContainer{
  width:100%;
  min-width:1000px;
  height:auto;
}
.articles{
  width:90%; /*Takes 90% width from WebContainer*/
  height: auto;
  margin: auto;
} 
.login_banner{
  position: fixed;
  width:100%;
  height: 61px;
  background-color: #EB7777;
  
}
.login_banner p{
  position: relative;
  width:139px;
  height: 10px;
  left: 500px;
  /*top: px;*/
  color: white;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 39px;
  align-items:center;
  justify-content: center;
  display: flex;
}
.login_form{
  position:relative;
  height: 80px;
  left: 400px;
  top: 30px;
  margin-top: 10px;
}
.login_text {
  position: relative;
  width:200px;
  height: 50px;
  left: 400px;
  margin-top: 100px;
  font-family: Comfortaa;
  font-style: normal;
  font-size: 42px;
  align-items: center;
  color: #000;
}

/*ref https://www.w3schools.com/css/css3_buttons.asp*/
.login_submit_button {
  position:relative;
  background-color: #8688BC;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 490px;
  height: 60px;
  border-radius: 4px;
  left: 400px;
  top: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
  
.login_input{
  widows: 80%;
  border: 1px solid rgb(90, 38, 114);
  padding: 20px;
  margin: 2px 0;
  border-radius: 5px;
  width: 447px;


}

.error_msg{
  position: relative;
  width: 490px;
  left:400px;
  margin-top: 20px;
}

.link_to_sign_up{
  position: relative;
  width: 490px;
  margin-left: 520px;
  margin-top: 80px;
}
