
/* Adjusting website to fit all types of resolution*/
.WebContainer{
  width:100%;
  min-width:1000px;
  height: auto;
}
.signup{
    position: fixed;
    width: 100%;
}

.back button {
  position: relative;
  width: 200px;
  height: 19px;
  left: 550px;
  top: 120px;
  bottom: 50px;

  color: black;
  background-color: transparent;
}

.login h1 {
  width: 300px;
}

.login form {
  position: relative;
  top: 0px;
  margin-top: -4px;
  height:80px;
}

.login button {
  top: 6px;
}

